language: ruby
sudo: required
services: redis
cache: bundler
rvm:
  - 2.3.7
  - 2.4.4
  - 2.5.5
  - 2.6.2
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
before_install: gem install bundler -v 1.17.3
env:
  global:
    - CC_TEST_REPORTER_ID=571b470a2b61f8a58b2a0ebbcf297805efa07c548e45bac9d1c9ce0c5edcfc20
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rspec
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
